* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: center;
    color: rgb(36, 34, 34);
    line-height: 1.5;
    letter-spacing: 1px;
}



.testimonial {
    padding: 30px 100px;

}

article h1 {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
}

article h1::after {
    content: "";
    height: 5px;
    width: 225px;
    background-color: #fff;
    display: block;
    margin: auto;
}

article img {
    height: 200px;
    width: 200px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-top: 20px;
}

blockquote {
    font-size: 15px;
    margin-top: 20px;
    font-weight: 600;
}

.wrapper a {
    flex: 1 1 12rem;
    padding: 1rem;
    font-size: 1.8rem;
    color: #444;
    border: .1rem solid #444;


}

.wrapper a.cart {
    background: #444;
    color: #fff;
}

.wrapper a.cart:hover {
    background: #111;
    color: #fff;
}



.h-text {

    color: white;
    max-width: 700px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}



.h-text h1 {
    font-family: sans-serif;
    font-size: 3em;
    line-height: 1.5em;

}