* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
}

nav {
    width: 100%;
    height: 80px;
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    position: fixed;
    top: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.logo {
    font-family: sans-serif;
    font-size: 2.5em;
}

.logo span {
    color: #e74c3c;
}

.h-text {

    color: white;
    max-width: 700px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}



.h-text h1 {
    font-family: sans-serif;
    font-size: 3em;
    line-height: 1.5em;

}


.menu a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-family: sans-serif;
    font-size: 20px;
}

.menu a:first-child {
    color: #e74c3c;
}

.menu a:hover {
    color: #e74c3c;
}

.icon a {
    text-decoration: none;
    background: #e74c3c;
    color: white;
    padding: 10px 20px;
    margin-left: 30px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 20px;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: #eee;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.container .title {
    font-size: 2.5rem;
    color: #444;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
}

.container .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.container .products-container .product {
    text-align: center;
    padding: 3rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    outline: .1rem solid #ccc;
    outline-offset: -1.5rem;
    cursor: pointer;

}



.container .products-container .product:hover {
    outline: .2rem solid #222;
    outline-offset: 0;
}

.container .products-container .product img {
    height: 25rem;

}



.container .products-container .product h3 {
    padding: 2rem 0;
    font-size: 2rem;
    color: #444;
    text-transform: uppercase
}

.container .products-container .product:hover h3 {
    color: #27ae60;
}



.products-preview {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    display: none;
    align-items: center;
    justify-content: center;
}

.products-preview .preview {
    display: none;
    padding: 2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin: 2rem;
    width: 40rem;

}

.products-preview .preview.active {
    display: inline-block;
}

.products-preview .preview img {
    height: 30rem;

}

.products-preview .preview .fa-times {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    color: #444;
    font-size: 3rem;

}

.products-preview .preview .fa-times:hover {
    transform: rotate(90deg);
}

.products-preview .preview h3 {
    color: #444;
    padding: 5rem 0;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.products-preview .preview p {
    line-height: 1.5rem;
    padding: 1rem 0;
    font-size: 1.7rem;
    color: #777;
}

.products-preview .preview .price {
    padding: 1rem 0;
    font-size: 2.5rem;
    color: #27ae60;
}



.products-preview .preview .buttons {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.products-preview .preview .buttons a {
    flex: 1 1 16rem;
    padding: 1rem;
    font-size: 1.8rem;
    color: #444;
    border: .1rem solid #444;

}

.products-preview .preview .buttons a.cart {
    background: #444;
    color: #fff;
}


.products-preview .preview .buttons a.cart:hover {
    background: #111;
    color: #fff;
}

.products-preview .preview .buttons a.buy:hover {
    background: #111;
    color: #fff;
}


@media (max-width:991px) {
    html {
        font-size: 55%;
    }
}

@media (max-width:760px) {
    .products-preview .preview img {
        height: 25rem;

    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}

.wrapper {
    min-width: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75)), rgba(0, 0, 0, 0.75), url('img/background.jpg');
    background-position: center;
    background-size: no-repeat;
    background-size: cover;

}

.testimonial {
    padding: 30px 100px;

}

article h1 {
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
}

article h1::after {
    content: "";
    height: 5px;
    width: 225px;
    background-color: #fff;
    display: block;
    margin: auto;
}

article img {
    height: 200px;
    width: 200px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-top: 60px;
}